*{
    margin: 0px;
    border:0px;
    box-sizing: border-box;
}


body{
    height: 100vh;
    background: linear-gradient(rgba(123,0,0,0.7),rgba(200, 125, 125, 0.9));
}

.card{
    background:linear-gradient(rgba(123,0,0,0.7),rgba(200, 125, 125, 0.9));
} 

#field #but{
    margin-top: 5px;
   background-color:rgb(197, 78, 101);
}
#butt{
    display: flex;
    justify-content: space-between;
    color: lightcoral;
}